[core]
    editor = code
[help]
    autocorrect = 1
[push]
    autoSetupRemote = 1
[init]
    defaultBranch = main
[alias]
    amd = commit -a --am -C HEAD
    com = "!git commit -am \"$* (#`git branch --show-current | cut -d- -f1 | tr -d '\n'`)\" #"
    con = !git add -A && git rebase --continue
    cb = !git branch --merged | grep -vE 'main|master|\\*' | xargs -n 1 --no-run-if-empty git branch -D
    cl = clean -xdf
    d = !git diff origin/`git branch --show-current`
    dt = !git difftool origin/`git branch --show-current`
    fix = commit -a --fixup HEAD
    last = log -1 HEAD
    msg = "!git commit --allow-empty -m \"$*\" #"
